---
import { SCORE_API_ENDPOINT } from "astro:env/server";

const res = await fetch(SCORE_API_ENDPOINT)
const scoreValue = await res.text() //el endpoint devuelve texto plano, no json
// lo q esta entre --- es js 
---

<span class="text-xs" id="score">
    ⭐ Puntuacion: {scoreValue.trim()} / 5
</span>